@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    background-color: black;
    color: rgb(0, 19, 36);
    font-size: 62.5%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.2;
    margin: 0;
    padding: 0;
}

.account_icon_img{
    border-radius: 50%;
    height: 15vw;
    mask-image: radial-gradient(rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 70%);
    -webkit-mask-image: radial-gradient(rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 70%);
    position: absolute;
    width: 15vw;
}

.account_icon_img:hover{
    mask-image: radial-gradient(rgb(255, 255, 255) 100%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask-image: radial-gradient(rgb(255, 255, 255) 100%, rgba(255, 255, 255, 0) 100%);
}

.account_icon_img_img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#infrontInformation{
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
}

.infrontInformationItem{
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
}