@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    color: rgb(0, 48, 90);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
}

h3{
    font-size: 3vw;
    font-weight: 400;
    line-height: 2.2;
    margin: 0;
    padding: 0;
    text-align: center;
}

p{
    font-size: 2.5vh;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.account_icon_img{
    border-radius: 50%;
    height: 15vw;
    mask-image: radial-gradient(rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 70%);
    -webkit-mask-image: radial-gradient(rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 70%);
    position: absolute;
    visibility: visible;
    width: 15vw;
    z-index: 600;
}

.account_icon_img:hover{
    cursor: pointer;
    mask-image: radial-gradient(rgb(255, 255, 255) 100%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask-image: radial-gradient(rgb(255, 255, 255) 100%, rgba(255, 255, 255, 0) 100%);
}

.account_icon_img_img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#background{
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 0;
}

#background img{
    bottom: 0;
    min-height: 100vh;
    object-fit: cover;
    position: absolute;
    width: 100vw;
    z-index: 0;
}

#games div div:last-child{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#games div div:last-child div{
    display: flex;
    flex-direction: column;
    height: 10vw;
    margin: 1vw;
    width: 10vw;
}

#games div div:last-child div img{
    height: 10vw;
    width: 10vw;
}

.informationChangerItem{
    background-color: rgb(18, 28, 87);
    color: white;
    mask-image: radial-gradient(rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 70%);
    -webkit-mask-image: radial-gradient(rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 70%);
    padding: 0 3vw;
    position: absolute;
    z-index: 550;
}

.informationChangerItem:hover{
    cursor: pointer;
    mask-image: radial-gradient(rgb(255, 255, 255) 100%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask-image: radial-gradient(rgb(255, 255, 255) 100%, rgba(255, 255, 255, 0) 100%);
}

#infrontInformation{
    height: 100vh;
    position: relative;
    visibility: hidden;
    width: 100vw;
    z-index: 600;
}

#infrontInformation div{
    visibility: visible;
}

.infrontInformation_detail_background{
    background-color: rgba(255, 255, 255, 0.623);
    border: thick double rgb(255, 255, 255);
    height: 75vh;
    left: 10vw;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    top: 22vh;
    width: 80vw;
    z-index: 600;
}

.infrontInformationItem_detail{
    background-color: rgba(0, 0, 0, 0.068);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 600;
}

@keyframes bodyBlur{
    from{
        filter: blur(100px);
        -ms-filter: blur(100px);
    }
    to{
        filter: blur(0px);
        -ms-filter: blur(0px);
    }
}

@keyframes informationChangerItem_l_appear{
    from{
    }
    to{
        left: 15%;
        top: 5%;
        width: 70%;
    }
}

@keyframes informationChangerItem_r_appear{
    from{
    }
    to{
        right: 15%;
        top: 5%;
        width: 70%;
    }
}

@keyframes informationChangerItem_p_appear{
    from{
    }
    to{
        font-size: 5rem;
    }
}

@keyframes informationChangerItem_disappear{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(-5vh);
    }
}

@keyframes infrontInformationItem_appear{
    from{
        opacity: 0;
        width: 0;
    }
    99%{
        opacity: 1;
        width: 0;
    }
    to{
        width: 100vw;
    }
}

@keyframes infrontInformationItem_disappear{
    from{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    to{
        display: none;
    }
}

#loading{
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

#loading:hover{
    cursor: not-allowed;
}

#standingPicture img{
    animation: 1s ease-out forwards bodyBlur;
    height: 200vw;
    left: 0;
    position: absolute;
    top: calc(50vh - 0.5vw - 46.6666vw);
    width: 100vw;
    z-index: 500;
}